<p>Thank you, we appreciate your business.</p>

<p>Thanks!</p>

Thanks for buying our ebook!

<%= link_to "Download your ebook", "https://s3.amazonaws.com/om-payments/Joe+Minock+One+Month+Rails.pdf" %>